<!---------------------------------------------- ComponentePadreHIjo ------------------------------------------------->
<div class="container-fluid" style="background-color: cadetblue;">
    <h3>componente-hijo</h3>
    <!-- ComponentePadreHIjo -->
    <span>aqui se muestra el valor enviado desde el componente padre :<strong>{{textoHijo}}</strong></span> <br>
    <span>aqui se muestra el valor enviado desde el componente padre :<strong> {{textoHijo2}} con Set:Get</strong></span>    
</div>
<br>

 