<div class="row">
    <div class="col-md-4">
        <!-- usoDe#VariableDeReferencia -->
        <h4>variable de referencia</h4>
        <!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
    </div>
    <div class="col-md-4">
        <!-- otro ejemplo boton - hace click en el input subir oculto -->

    </div>
    <div class="col-md-4">
        <!-- --------------------------------------------------------------------------->
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-3">
        <!-- --------------------------------------------------------------------------->
        <h4>binding de eventos</h4>
        <!-- bindingEventos se usa parentesis - ()-->
    </div>
    <div class="col-md-3">
        <!-- ------------------------------usoDeDatePipe-------------------------------------------->
        <h4>uso de DatePipe</h4>
        <!-- bindingEventos se usa parentesis - ()-->
    </div>
    <div class="col-md-3">
        <!-- --------------------------------------------------------------------------->
        <br>
        <!-- bindingXpropiedad -->
        <h4>binding de propiedad- ex 1</h4>

    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <!-- --------------------------------------------------------------------------->
        <br>
        <!-- bindingXatributo -->

    </div>
    <div class="col-md-6">
        <!-- ----------------------------------directivas de attributo - ngClass----------------------------------------->
        <br>
        <h4>ngClass</h4>


    </div>
</div>

