<div class="row">
    <div class="col-md-4">
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Tabla
        </div>
        <!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
        <app-tabla></app-tabla>
    </div>
    <div class="col-md-3">
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Arbol
        </div>
        <app-arbol></app-arbol>
    </div>
    <div class="col-md-5">
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Tabs
        </div>
        <app-tabs></app-tabs>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Stepper
        </div>
        <app-stepper></app-stepper>
    </div>
    <div class="col-md-3">
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Lista
        </div>
        <app-listar></app-listar>
    </div>
    <div class="col-md-5">

    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <!-- --------------------------------------------------------------------------->
        <br>
        <!-- bindingXatributo -->

    </div>
    <div class="col-md-6">
        <!-- ----------------------------------directivas de attributo - ngClass----------------------------------------->
        <br>
        <h4>ngClass</h4>


    </div>
</div>

