<!-- rutas hijas -->
<ng-container *ngIf="users">
    <table class="table">
        <thead>
            <tr>
                <!-- <td>Id</td> -->
                <td>Name</td>
                <td>UserName</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <!-- rutasParam -->
                <td><a style="cursor: pointer;" class="btn btn-success" (click)="verPosts(user.id)">Ver Posts </a>  </td>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>                
            </tr>

        </tbody>
    </table>
</ng-container>

<button type="button" (click)="navegarHaciaPost()">Ir a post</button>


