<div class="row">
    <div class="col-md-4">
        <div class="alert alert-primary" role="alert" style="text-align: center;">
        Data Table -> Tabla
        </div>
        <!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
        <app-tabla></app-tabla>
    </div>
    <div class="col-md-3">
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Arbol
        </div>
        <app-arbol></app-arbol>
    </div>
    <div class="col-md-5">
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Tabs
        </div>
        <app-tabs></app-tabs>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Stepper
        </div>
        <app-stepper></app-stepper>
    </div>
    <div class="col-md-3">
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Lista
        </div>
        <app-listar></app-listar>
    </div>
    <div class="col-md-5">

    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-3">
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            PopUp & Modal   -> Tooltip
        </div>
        <app-tooltip></app-tooltip>

    </div>
    <div class="col-md-3">       

    </div>
    <div class="col-md-3">       

    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-3">
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> AutoComplete
        </div>
        <app-auto-complete></app-auto-complete>
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> AutoComplete Enabled/Disabled
        </div>
        <app-auto-complete2></app-auto-complete2>
    </div>
    <div class="col-md-3">       
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> CheckBox
        </div>
        <app-check-box></app-check-box>
    </div>
    <div class="col-md-3">       
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> Datepicker
        </div>
        <app-datepicker2></app-datepicker2>
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> Datepicker con eventos
        </div>
        <app-datepicker></app-datepicker>
    </div>
    <div class="col-md-3">       
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> Slide-toggle
        </div>
        <app-slide-toggle></app-slide-toggle>        
    </div>
</div>

<hr>
<div class="row">
    <div class="col-md-3">
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> FormsField e Input,select falta todo
        </div>
        <!-- <app-auto-complete></app-auto-complete>
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> AutoComplete Enabled/Disabled
        </div>
        <app-auto-complete2></app-auto-complete2> -->
    </div>
    <div class="col-md-3">       
        <!-- <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> CheckBox
        </div>
        <app-check-box></app-check-box> -->
    </div>
    <div class="col-md-3">       
        <!-- <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> Datepicker
        </div>
        <app-datepicker2></app-datepicker2>
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> Datepicker con eventos
        </div> -->
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-3">
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> FormsField falta todo
        </div>
        <!-- <app-auto-complete></app-auto-complete>
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> AutoComplete Enabled/Disabled
        </div>
        <app-auto-complete2></app-auto-complete2> -->
    </div>
    <div class="col-md-3">       
        <!-- <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> CheckBox
        </div>
        <app-check-box></app-check-box> -->
    </div>
    <div class="col-md-3">       
        <!-- <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> Datepicker
        </div>
        <app-datepicker2></app-datepicker2>
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> Datepicker con eventos
        </div> -->
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-3">
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> RadioButton
        </div>
        <app-radio-button></app-radio-button>
        
    </div>
    <div class="col-md-6">       
         <div class="alert alert-primary" role="alert" style="text-align: center;">
            Forms Contol  -> Slider
        </div>
        <app-slider></app-slider>
    </div>
    
</div>